@{
    ViewBag.Title = "Home Page";
}
@*
    <!-- slider area start -->
    <section class="slider-area">
        <div class="slider-active dotate-style slider-next-prev-style">
            <div class="slider-items">
                <img src="~/images/slider/1.jpg" alt="" class="slider">
                <div class="slider-content text-center">
                    <div class="table">
                        <div class="table-cell">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12 col-md-8 col-md-offset-2">
                                        <h2>Welcome to our Martxa</h2>
                                        <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                        <ul>
                                            <li><a href="#">Read More</a></li>
                                            <li><a href="#">Get Started</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-items">
                <img src="~/images/slider/2.jpg" alt="" class="slider">
                <div class="slider-content text-center">
                    <div class="table">
                        <div class="table-cell">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12 col-md-8 col-md-offset-2">
                                        <h2>Hello i am Martxa</h2>
                                        <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                        <ul>
                                            <li><a href="#">Get Started</a></li>
                                            <li><a href="#">Read More</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- slider area end -->
    <!-- about-area start -->
    <section class="about-area ptb-140">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xs-12 wow fadeInLeft">
                    <div class="about-wrap">
                        <h2>who we are</h2>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.randomised words which don't look even slightly believable.</p>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised. by injected humour, or randomised.</p>
                        <ul>
                            <li>There are many variations of passages</li>
                            <li>By injected humour or randomised.</li>
                            <li>the majority have suffered alteration</li>
                            <li>majority have suffered alteration</li>
                            <li>variations of passages of Lorem Ipsum</li>
                            <li>of passages of Lorem Ipsum</li>
                            <li>many variations of passages.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 wow fadeInRight">
                    <div class="row mt-60">
                        <div class="col-sm-6 col-xs-12 col">
                            <div class="about-items mb-30">
                                <i class="fa fa-diamond"></i>
                                <h3>injected humour In The randomised </h3>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12 col">
                            <div class="about-items mb-30">
                                <i class="fa fa-briefcase"></i>
                                <h3>many variations The  passages</h3>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12 col">
                            <div class="about-items">
                                <i class="fa fa-bookmark"></i>
                                <h3>the majority have To suffered</h3>
                            </div>
                        </div><div class="col-sm-6 col-xs-12 col">
                            <div class="about-items">
                                <i class="fa fa-database"></i>
                                <h3>of passages The Lorem Ipsum</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about-area end -->
    <!-- .service-area start -->
    <section class="service-area home2-service-area">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-10 col-xs-12 wow fadeInUp">
                    <div class="section-title section-title2">
                        <h2>Our Special Service</h2>
                        <p>majority have suffered alteration in some form, by injected humour randomised. injected humour, or randomised.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".1s">
                    <div class="service-wrap">
                        <div class="service-content">
                            <h3>Performance</h3>
                            <p>majority have suffered alteration in some form, by injected humour randomised. injected humour, or randomised.</p>
                            <a href="single-service.html">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".2s">
                    <div class="service-wrap">
                        <div class="service-content">
                            <h3>Web Development</h3>
                            <p>majority have suffered alteration in some form, by injected humour randomised. injected humour, or randomised.</p>
                            <a href="single-service.html">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".3s">
                    <div class="service-wrap">
                        <div class="service-content">
                            <h3>Creative Arts</h3>
                            <p>majority have suffered alteration in some form, by injected humour randomised. injected humour, or randomised.</p>
                            <a href="single-service.html">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".4s">
                    <div class="service-wrap">
                        <div class="service-content">
                            <h3>UX/UI Design</h3>
                            <p>majority have suffered alteration in some form, by injected humour randomised. injected humour, or randomised.</p>
                            <a href="single-service.html">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".5s">
                    <div class="service-wrap">
                        <div class="service-content">
                            <h3>Front End Development</h3>
                            <p>majority have suffered alteration in some form, by injected humour randomised. injected humour, or randomised.</p>
                            <a href="single-service.html">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".6s">
                    <div class="service-wrap">
                        <div class="service-content">
                            <h3>Back End Development</h3>
                            <p>majority have suffered alteration in some form, by injected humour randomised. injected humour, or randomised.</p>
                            <a href="single-service.html">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- .service-area end -->
    <!-- praller-area start -->
    <section class="prallex-area black-opacity parallax ptb-180 wow fadeInUp" data-speed="3" data-bg-image="/images/bg/3.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-xs-12">
                    <div class="prallex-wrap text-center">
                        <h2><i class="fa fa-quote-left"></i>Keep away from people who try to belittle your ambitions. Small peol always do that.<i class="fa fa-quote-right"></i></h2>
                        <span><i class="fa fa-long-arrow-left"></i>  Brayden Shar <i class="fa fa-long-arrow-right"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- praller-area end -->
    <!-- porftolio-area start -->
    <section class="porftolio-area ptb-70 porftolio-area2">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-10 col-xs-12 wow fadeInUp">
                    <div class="section-title section-title2">
                        <h2>Our Best Work</h2>
                        <p>the majority have suffered alteration in some form, by injected humour, or randomised. by injected humour, or randomised.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 wow fadeInUp" data-wow-delay=".1s">
                    <div class="portfolio-menu">
                        <button class="active" data-filter="*">Show All</button>
                        <button data-filter=".website">WebSite</button>
                        <button data-filter=".responsiv">Responsiv</button>
                        <button data-filter=".minimal">Minimal</button>
                        <button data-filter=".clean">Clean</button>
                    </div>
                </div>
            </div>
            <div class="row grid">
                <div class="col-md-4 portfolio clean col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".1s">
                    <div class="portfolio-wrap">
                        <div class="overlay">
                            <a class="popup" href="~/images/portfolio/portfolio2/2.jpg">
                                <i class="fa fa-link"></i>
                            </a>
                            <h3>Web Design</h3>
                            <p>The majority have suffered alteration in some form</p>
                        </div>
                        <div class="portfolio-img">
                            <img src="~/images/portfolio/portfolio2/2.jpg" alt="" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4 portfolio minimal col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".2s">
                    <div class="portfolio-wrap">
                        <div class="overlay">
                            <a class="popup" href="~/images/portfolio/portfolio2/3.jpg">
                                <i class="fa fa-link"></i>
                            </a>
                            <h3>UX/UI Design</h3>
                            <p>The majority have suffered alteration in some form</p>
                        </div>
                        <div class="portfolio-img">
                            <img src="~/images/portfolio/portfolio2/3.jpg" alt="" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4 portfolio website col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".3s">
                    <div class="portfolio-wrap">
                        <div class="overlay">
                            <a class="popup" href="~/images/portfolio/portfolio2/4.jpg">
                                <i class="fa fa-link"></i>
                            </a>
                            <h3>Front End Design</h3>
                            <p>The majority have suffered alteration in some form</p>
                        </div>
                        <div class="portfolio-img">
                            <img src="~/images/portfolio/portfolio2/4.jpg" alt="" />
                        </div>
                    </div>
                </div>
                <div class="col-md-8 portfolio website col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".4s">
                    <div class="portfolio-wrap">
                        <div class="overlay">
                            <a class="popup" href="~/images/portfolio/portfolio2/1.jpg">
                                <i class="fa fa-link"></i>
                            </a>
                            <h3>Web Development</h3>
                            <p>The majority have suffered alteration in some form</p>
                        </div>
                        <div class="portfolio-img">
                            <img src="~/images/portfolio/portfolio2/1.jpg" alt="" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4 portfolio  responsiv col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".5s">
                    <div class="portfolio-wrap">
                        <div class="overlay">
                            <a class="popup" href="~/images/portfolio/portfolio2/5.jpg">
                                <i class="fa fa-link"></i>
                            </a>
                            <h3>Back End Development</h3>
                            <p>The majority have suffered alteration in some form</p>
                        </div>
                        <div class="portfolio-img">
                            <img src="~/images/portfolio/portfolio2/5.jpg" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- porftolio-area end -->
    <!-- team-area start -->
    <section class="team-area team-area2">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-10 col-xs-12 wow fadeInUp">
                    <div class="section-title section-title2">
                        <h2>Best Team</h2>
                        <p>The majority have suffered alteration in some form, by injected humour, or randomised. by injected humour, or randomised.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".1s">
                    <div class="team-wrap2">
                        <div class="team-img">
                            <img src="~/images/team/1.jpg" alt="" />
                            <div class="overlay">
                                <h3>Alex Jeson</h3>
                                <span>Marketing</span>
                                <p>Lorem ipsum dolor sit amet consectetur at elit Necessitatibus cupiditate.</p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="team-content">
                            <h3>Alex Jeson</h3>
                            <p>Marketing</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".2s">
                    <div class="team-wrap2">
                        <div class="team-img">
                            <div class="overlay">
                                <h3>Connor Charles</h3>
                                <span>Founder</span>
                                <p>Lorem ipsum dolor sit amet consectetur at elit Necessitatibus cupiditate.</p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                            <img src="~/images/team/2.jpg" alt="" />
                        </div>
                        <div class="team-content">
                            <h3>Connor Charles</h3>
                            <p>Founder</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".3s">
                    <div class="team-wrap2">
                        <div class="team-img">
                            <div class="overlay">
                                <h3>Robert Kyle</h3>
                                <span>Sales Head</span>
                                <p>Lorem ipsum dolor sit amet consectetur at elit Necessitatibus cupiditate.</p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                            <img src="~/images/team/3.jpg" alt="" />
                        </div>
                        <div class="team-content">
                            <h3>Robert Kyle</h3>
                            <p>Sales Head</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".4s">
                    <div class="team-wrap2">
                        <div class="team-img">
                            <div class="overlay">
                                <h3>Brayden Shar</h3>
                                <span>The Boss</span>
                                <p>Lorem ipsum dolor sit amet consectetur at elit Necessitatibus cupiditate.</p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                            <img src="~/images/team/4.jpg" alt="" />
                        </div>
                        <div class="team-content">
                            <h3>Brayden Shar</h3>
                            <p>The Boss</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- team-area end -->
    <!-- .pricing-table-area start -->
    <div class="pricing-table-area">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-10  col-xs-12 wow fadeInUp">
                    <div class="section-title section-title2">
                        <h2>Our Best Price</h2>
                        <p>The majority have suffered alteration in some form, by injected humour, or randomised. by injected humour, or randomised.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="pricing-active next-prev-style">
                    <div class="col-xs-12 wow fadeInUp" data-wow-delay=".1s">
                        <div class="pricing-wrap">
                            <h3>Basic</h3>
                            <h4>$150.00<span>1 Month</span></h4>
                            <ul>
                                <li>Gregor then turned to look</li>
                                <li>with hat and fur boa who </li>
                                <li>Bawds joggraced fox whelps</li>
                                <li>over lazy dog flock by the</li>
                                <li>flock when Mtv quiz Whene</li>
                                <li>troubled Samsa Anather troubled</li>
                                <li>Samsa troubled Anather troubled</li>
                            </ul>
                            <button>Got It</button>
                        </div>
                    </div>
                    <div class="col-xs-12 wow fadeInUp" data-wow-delay=".2s">
                        <div class="pricing-wrap">
                            <h3>standard</h3>
                            <h4>$500.00<span>2 Month</span></h4>
                            <ul>
                                <li>Gregor then turned to look</li>
                                <li>with hat and fur boa who </li>
                                <li>Bawds joggraced fox whelps</li>
                                <li>over lazy dog flock by the</li>
                                <li>flock when Mtv quiz Whene</li>
                                <li>troubled Samsa Anather troubled</li>
                                <li>Samsa troubled Anather troubled</li>
                            </ul>
                            <button>Got It</button>
                        </div>
                    </div>
                    <div class="col-xs-12 wow fadeInUp" data-wow-delay=".3s">
                        <div class="pricing-wrap">
                            <h3>Premium</h3>
                            <h4>$1000.00<span>1 Year</span></h4>
                            <ul>
                                <li>Gregor then turned to look</li>
                                <li>with hat and fur boa who </li>
                                <li>Bawds joggraced fox whelps</li>
                                <li>over lazy dog flock by the</li>
                                <li>flock when Mtv quiz Whene</li>
                                <li>troubled Samsa Anather troubled</li>
                                <li>Samsa troubled Anather troubled</li>
                            </ul>
                            <button>Got It</button>
                        </div>
                    </div>
                    <div class="col-xs-12 wow fadeInUp" data-wow-delay=".4s">
                        <div class="pricing-wrap">
                            <h3>Business</h3>
                            <h4>$150.00<span>1 Month</span></h4>
                            <ul>
                                <li>Gregor then turned to look</li>
                                <li>with hat and fur boa who </li>
                                <li>Bawds joggraced fox whelps</li>
                                <li>over lazy dog flock by the</li>
                                <li>flock when Mtv quiz Whene</li>
                                <li>troubled Samsa Anather troubled</li>
                                <li>Samsa troubled Anather troubled</li>
                            </ul>
                            <button>Got It</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .pricing-table-area end -->
    <!-- skill-area start -->
    <div class="skill-area">
        <div class="skill-img black-opacity wow fadeInLeft">
            <img src="~/images/skill.jpg" alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-offset-6 col-md-6 col-sm-offset-6 col-sm-6 col-xs-12 wow fadeInRight">
                    <div class="skill-wrap section-title section-title2">
                        <h2>Our Skill</h2>
                        <div class="progress-wrap">
                            <p>HTML5</p>
                            <div class="progress">
                                <div class="progress-bar wow slideInLeft" style="width: 90%;">
                                    <span class="progress-persent"><span>90%</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="progress-wrap">
                            <p>CSS3</p>
                            <div class="progress">
                                <div class="progress-bar wow slideInLeft" style="width: 90%;">
                                    <span class="progress-persent"><span>90%</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="progress-wrap">
                            <p>Javascript</p>
                            <div class="progress">
                                <div class="progress-bar wow slideInLeft" style="width: 70%;">
                                    <span class="progress-persent"><span>70%</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="progress-wrap">
                            <p>php</p>
                            <div class="progress">
                                <div class="progress-bar wow slideInLeft" style="width: 60%;">
                                    <span class="progress-persent"><span>60%</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="progress-wrap">
                            <p>Wordpress</p>
                            <div class="progress">
                                <div class="progress-bar wow slideInLeft" style="width: 50%;">
                                    <span class="progress-persent"><span>50%</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- skill-area end -->
    <!-- blog-area start -->
    <section class="blog-area ptb-140 bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-10  col-xs-12 wow fadeInUp">
                    <div class="section-title section-title2">
                        <h2>Our Creativ Bolg</h2>
                        <p>The majority have suffered alteration in some form, by injected humour, or randomised. by injected humour, or randomised.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".1s">
                    <div class="blog-wrap">
                        <div class="blog-img">
                            <img src="~/images/blog/1.jpg" alt="" />
                        </div>
                        <div class="blog-content">
                            <div class="blog-meta">
                                <ul>
                                    <li><a href="#"><i class="fa fa-user"></i> Admin</a></li>
                                    <li><a href="#"><i class="fa fa-comment"></i> 5 Comment</a></li>
                                    <li><a href="#"><i class="fa fa-heart"></i> 5 Love</a></li>
                                </ul>
                            </div>
                            <h3><a href="blog.html">majority have suffered</a></h3>
                            <p>wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy</p>
                            <a href="blog.html" class="btn-style">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".2s">
                    <div class="blog-wrap">
                        <div class="blog-img">
                            <img src="~/images/blog/2.jpg" alt="" />
                        </div>
                        <div class="blog-content">
                            <div class="blog-meta">
                                <ul>
                                    <li><a href="#"><i class="fa fa-user"></i> Admin</a></li>
                                    <li><a href="#"><i class="fa fa-comment"></i> 5 Comment</a></li>
                                    <li><a href="#"><i class="fa fa-heart"></i> 5 Love</a></li>
                                </ul>
                            </div>
                            <h3><a href="blog.html">majority have suffered</a></h3>
                            <p>wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy</p>
                            <a href="blog.html" class="btn-style">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".1s">
                    <div class="blog-wrap">
                        <div class="blog-img">
                            <img src="~/images/blog/3.jpg" alt="" />
                        </div>
                        <div class="blog-content">
                            <div class="blog-meta">
                                <ul>
                                    <li><a href="#"><i class="fa fa-user"></i> Admin</a></li>
                                    <li><a href="#"><i class="fa fa-comment"></i> 5 Comment</a></li>
                                    <li><a href="#"><i class="fa fa-heart"></i> 5 Love</a></li>
                                </ul>
                            </div>
                            <h3><a href="blog.html">majority have suffered</a></h3>
                            <p>wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy</p>
                            <a href="blog.html" class="btn-style">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- blog-area end -->
    <!-- brand-area start -->
    <section class="brand-area bg-img-2 black-opacity ptb-140">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-10 col-xs-12 wow fadeInUp">
                    <div class="section-title section-title2">
                        <h2>Brand Our Company</h2>
                        <p>The majority have suffered alteration in some form, by injected humour, or randomised. by injected humour, or randomised.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="brand-active">
                    <div class="col-xs-12">
                        <div class="brand-wrap">
                            <a href="#">
                                <img src="~/images/brand/1.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="brand-wrap">
                            <a href="#">
                                <img src="~/images/brand/2.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="brand-wrap">
                            <a href="#">
                                <img src="~/images/brand/3.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="brand-wrap">
                            <a href="#">
                                <img src="~/images/brand/4.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="brand-wrap">
                            <a href="#">
                                <img src="~/images/brand/5.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="brand-wrap">
                            <a href="#">
                                <img src="~/images/brand/6.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="brand-wrap">
                            <a href="#">
                                <img src="~/images/brand/7.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- brand-area end -->
*@

<section class="section section-md bg-default text-center">
    <div class="container">
        <h3>Welcome to <span class="text-primary">Jobs</span>Factory</h3>
        <p class="text-spacing-05">A place where leading employers are already looking for your talent and experience.</p>
        <div class="row row-50 justify-content-center align-items-center text-left">
            <div class="col-md-10 col-lg-6">
                <figure class="figure-responsive block-5">
                    <img src="~/HomeAssets/images/home-2-540x413.jpg" alt="" width="540" height="413">
                </figure>
            </div>
            <div class="col-md-10 col-lg-6">
                <div class="row row-50 row-xl-70">
                    <div class="col-sm-6">
                        <!-- Box Line-->
                        <article class="box-line box-line_sm">
                            <div class="box-line-inner">
                                <div class="box-line-icon icon mercury-icon-group"></div>
                                <h5 class="box-line-title">More than 3.8 million visitors every day</h5>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6">
                        <!-- Box Line-->
                        <article class="box-line box-line_sm">
                            <div class="box-line-inner">
                                <div class="box-line-icon icon mercury-icon-partners"></div>
                                <h5 class="box-line-title">Leading recruiting website in the US and Europe</h5>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6">
                        <!-- Box Line  -->
                        <article class="box-line box-line_sm">
                            <div class="box-line-inner">
                                <div class="box-line-icon icon mercury-icon-chat"></div>
                                <h5 class="box-line-title">24\7 Dedicated and free Support</h5>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6">
                        <!-- Box Line-->
                        <article class="box-line box-line_sm">
                            <div class="box-line-inner">
                                <div class="box-line-icon icon mercury-icon-target"></div>
                                <h5 class="box-line-title">Only relevant and verified vacancies </h5>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Recent Jobs-->
<section class="section section-md bg-gray-100">
    <div class="container">
        <div class="row row-40">
            <div class="col-12 text-center">
                <h3>Recent Jobs</h3>
            </div>
            <div class="col-12">
                <div class="table-job-offers-outer">
                    <table class="table-job-offers table-responsive">
                        <tbody>
                            <tr>
                                <td class="table-job-offers-date"><span>1 hour ago</span></td>
                                <td class="table-job-offers-main">
                                    <!-- Company Light-->
                                    <article class="company-light">
                                        <figure class="company-light-figure">
                                            <img class="company-light-image" src="~/HomeAssets/images/company-1-45x45.png" alt="" width="45" height="45">
                                        </figure>
                                        <div class="company-light-main">
                                            <h5 class="company-light-title"><a href="job-details.html">Senior UX Designer</a></h5>
                                            <p class="text-color-default">StarArt</p>
                                        </div>
                                    </article>
                                </td>
                                <td class="table-job-offers-meta">
                                    <div class="object-inline"><span class="icon icon-sm text-primary mdi mdi-cash"></span><span>$25–$35 \ hour</span></div>
                                </td>
                                <td class="table-job-offers-meta">
                                    <div class="object-inline"><span class="icon icon-1 text-primary mdi mdi-map-marker"></span><span>New York, NY, USA</span></div>
                                </td>
                                <td class="table-job-offers-badge"><span class="badge">Full Time</span></td>
                            </tr>
                            <tr>
                                <td class="table-job-offers-date"><span>1 day ago</span></td>
                                <td class="table-job-offers-main">
                                    <!-- Company Light-->
                                    <article class="company-light">
                                        <figure class="company-light-figure">
                                            <img class="company-light-image" src="~/HomeAssets/images/company-2-38x49.png" alt="" width="38" height="49">
                                        </figure>
                                        <div class="company-light-main">
                                            <h5 class="company-light-title"><a href="job-details.html">Marketing Director</a></h5>
                                            <p class="text-color-default">UpBook</p>
                                        </div>
                                    </article>
                                </td>
                                <td class="table-job-offers-meta">
                                    <div class="object-inline"><span class="icon icon-sm text-primary mdi mdi-cash"></span><span>$45–$53 \ hour</span></div>
                                </td>
                                <td class="table-job-offers-meta">
                                    <div class="object-inline"><span class="icon icon-1 text-primary mdi mdi-map-marker"></span><span>Saint-Etienne, France</span></div>
                                </td>
                                <td class="table-job-offers-badge"><span class="badge badge-secondary">Part Time</span></td>
                            </tr>
                            <tr>
                                <td class="table-job-offers-date"><span>1 day ago</span></td>
                                <td class="table-job-offers-main">
                                    <!-- Company Light-->
                                    <article class="company-light">
                                        <figure class="company-light-figure">
                                            <img class="company-light-image" src="~/HomeAssets/images/company-3-46x52.png" alt="" width="46" height="52">
                                        </figure>
                                        <div class="company-light-main">
                                            <h5 class="company-light-title"><a href="job-details.html">Front End Developer</a></h5>
                                            <p class="text-color-default">MediaLab</p>
                                        </div>
                                    </article>
                                </td>
                                <td class="table-job-offers-meta">
                                    <div class="object-inline"><span class="icon icon-sm text-primary mdi mdi-cash"></span><span>$25–$43 \ hour</span></div>
                                </td>
                                <td class="table-job-offers-meta">
                                    <div class="object-inline"><span class="icon icon-1 text-primary mdi mdi-map-marker"></span><span>Derry, United Kingdom</span></div>
                                </td>
                                <td class="table-job-offers-badge"><span class="badge badge-tertiary">Freelance</span></td>
                            </tr>
                            <tr>
                                <td class="table-job-offers-date"><span>1 day ago</span></td>
                                <td class="table-job-offers-main">
                                    <!-- Company Light-->
                                    <article class="company-light">
                                        <figure class="company-light-figure">
                                            <img class="company-light-image" src="~/HomeAssets/images/company-4-50x49.png" alt="" width="50" height="49">
                                        </figure>
                                        <div class="company-light-main">
                                            <h5 class="company-light-title"><a href="job-details.html">Social Media Executive</a></h5>
                                            <p class="text-color-default">Creator</p>
                                        </div>
                                    </article>
                                </td>
                                <td class="table-job-offers-meta">
                                    <div class="object-inline"><span class="icon icon-sm text-primary mdi mdi-cash"></span><span>$15–$43 \ hour</span></div>
                                </td>
                                <td class="table-job-offers-meta">
                                    <div class="object-inline"><span class="icon icon-1 text-primary mdi mdi-map-marker"></span><span>Los Angeles, CA, USA</span></div>
                                </td>
                                <td class="table-job-offers-badge"><span class="badge">Full Time</span></td>
                            </tr>
                            <tr>
                                <td class="table-job-offers-date"><span>1 day ago</span></td>
                                <td class="table-job-offers-main">
                                    <!-- Company Light-->
                                    <article class="company-light">
                                        <figure class="company-light-figure">
                                            <img class="company-light-image" src="~/HomeAssets/images/company-5-48x44.png" alt="" width="48" height="44">
                                        </figure>
                                        <div class="company-light-main">
                                            <h5 class="company-light-title"><a href="job-details.html">Restaurant Dishwasher</a></h5>
                                            <p class="text-color-default">Camping</p>
                                        </div>
                                    </article>
                                </td>
                                <td class="table-job-offers-meta">
                                    <div class="object-inline"><span class="icon icon-sm text-primary mdi mdi-cash"></span><span>$10–$20 \ hour</span></div>
                                </td>
                                <td class="table-job-offers-meta">
                                    <div class="object-inline"><span class="icon icon-1 text-primary mdi mdi-map-marker"></span><span>Stockholm, Sweden</span></div>
                                </td>
                                <td class="table-job-offers-badge"><span class="badge badge-secondary">Part Time</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12 text-center"><a class="button button-lg button-primary-outline" href="job-listing-full.html">Show More Jobs</a></div>
        </div>
    </div>
</section>

<!-- Pricing-->
<section class="section section-md bg-default">
    <div class="container">
        <h3 class="text-center">Pricing</h3>
        <div class="row row-50 justify-content-center">
            <div class="col-md-6 col-lg-4">
                <!-- Pricing Table Classic-->
                <article class="pt pt-classic">
                    <div class="pt-classic-header">
                        <div class="pt-classic-item">
                            <p class="pt-title">Startup</p><span class="badge">7 Days Free</span>
                        </div>
                        <p class="pt-price"><span class="pt-price-small pt-price-currency">$</span><span>59</span><span class="pt-price-small">00</span></p>
                    </div>
                    <div class="pt-classic-main">
                        <ul class="pt-classic-features">
                            <li>Post 8 Jobs</li>
                            <li>5 Highlighted Job Posts</li>
                            <li>Browse Your Job Listings</li>
                            <li>Access to Job Posting Stats</li>
                            <li>Email Support</li>
                            <li>Jobs Expire In 90 Days</li>
                        </ul><a class="button button-primary-outline" href="#">Get started</a>
                    </div>
                </article>
            </div>
            <div class="col-md-6 col-lg-4">
                <!-- Pricing Table Classic-->
                <article class="pt pt-classic">
                    <div class="pt-classic-header">
                        <div class="pt-classic-item">
                            <p class="pt-title text-tertiary">Company</p>
                        </div>
                        <p class="pt-price"><span class="pt-price-small pt-price-currency">$</span><span>89</span><span class="pt-price-small">00</span></p>
                    </div>
                    <div class="pt-classic-main">
                        <ul class="pt-classic-features">
                            <li>Post 28 Jobs</li>
                            <li>10 Highlighted Job Posts</li>
                            <li>Edit Your Job Listings</li>
                            <li>Access to Job Posting Stats</li>
                            <li>Email and Phone Support</li>
                            <li>Jobs Expire In 180 Days</li>
                        </ul><a class="button button-primary-outline" href="#">Get started</a>
                    </div>
                </article>
            </div>
            <div class="col-md-6 col-lg-4">
                <!-- Pricing Table Classic-->
                <article class="pt pt-classic">
                    <div class="pt-classic-header">
                        <div class="pt-classic-item">
                            <p class="pt-title text-secondary">Enterprise</p>
                        </div>
                        <p class="pt-price"><span class="pt-price-small pt-price-currency">$</span><span>199</span><span class="pt-price-small">00</span></p>
                    </div>
                    <div class="pt-classic-main">
                        <ul class="pt-classic-features">
                            <li>Post 35 Jobs</li>
                            <li>15 Highlighted Job Posts</li>
                            <li>Replace Your Job Listings</li>
                            <li>Access to Job Posting Stats</li>
                            <li>24/7 Support</li>
                            <li>Jobs Expire In 250 Days</li>
                        </ul><a class="button button-primary-outline" href="#">Get started</a>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<!-- Steps-->
<section class="section section-md bg-default text-center">
    <div class="container">
        <h3>Just 3 Easy Steps to New Capabilities</h3>
        <ul class="list-linked">
            <li class="ll-item">
                <div class="icon ll-item-icon thin-icon-email-search">
                    <svg class="ll-item-icon-inner" version="1.2" baseProfile="tiny" viewBox="-1 -1 102 102">
                        <circle cx="50" cy="50" r="50" fill="none" vector-effect="non-scaling-stroke"></circle>
                    </svg>
                </div>
                <div class="ll-item-main">
                    <h5 class="ll-item-title"><a href="job-listing.html">Browse Jobs</a></h5>
                    <p>Easy search by category</p>
                </div>
            </li>
            <li class="ll-item">
                <div class="icon ll-item-icon mercury-icon-target-2">
                    <svg class="ll-item-icon-inner" version="1.2" baseProfile="tiny" viewBox="-1 -1 102 102">
                        <circle cx="50" cy="50" r="50" fill="none" vector-effect="non-scaling-stroke"></circle>
                    </svg>
                </div>
                <div class="ll-item-main">
                    <h5 class="ll-item-title"><a href="job-details.html">Find Your Vacancy</a></h5>
                    <p>Choose a suitable job</p>
                </div>
            </li>
            <li class="ll-item">
                <div class="icon ll-item-icon ll-item-icon-sm mercury-icon-e-mail-o">
                    <svg class="ll-item-icon-inner" version="1.2" baseProfile="tiny" viewBox="-1 -1 102 102">
                        <circle cx="50" cy="50" r="50" fill="none" vector-effect="non-scaling-stroke"></circle>
                    </svg>
                </div>
                <div class="ll-item-main">
                    <h5 class="ll-item-title"><a href="submit-resume.html">Submit Resume</a></h5>
                    <p>Get a personal job offer</p>
                </div>
            </li>
            <li class="ll-item">
                <div class="icon ll-item-icon mercury-icon-touch">
                    <svg class="ll-item-icon-inner" version="1.2" baseProfile="tiny" viewBox="-1 -1 102 102">
                        <circle cx="50" cy="50" r="50" fill="none" vector-effect="non-scaling-stroke"></circle>
                    </svg>
                </div>
                <div class="ll-item-main"><a class="button button-sm button-primary-outline" href="job-listing.html">Start Now</a></div>
            </li>
        </ul>
    </div>
</section>
<!-- Latest Posts-->
<section class="section section-md bg-gray-100">
    <div class="container">
        <h3 class="text-center">Latest Posts</h3>
        <div class="row row-30 row-xl-70">
            <div class="col-12 col-lg-4">
                <!-- Post Minimal-->
                <article class="post-minimal">
                    <a class="post-minimal-media" href="blog-post.html"><img class="post-minimal-image" src="~/HomeAssets/images/blog-1-369x253.jpg" alt="" width="369" height="253"></a>
                    <div class="post-minimal-main">
                        <h5 class="post-minimal-title"><a href="blog-post.html">8 Surprising Predictions About the Future of Work</a></h5>
                        <p>There’s no denying that the landscape of work is changing. More and more companies are adopting flexible work policies</p>
                        <time class="post-minimal-time" datetime="2019">November 23, 2019</time>
                    </div>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <!-- Post Minimal-->
                <article class="post-minimal">
                    <a class="post-minimal-media" href="blog-post.html"><img class="post-minimal-image" src="~/HomeAssets/images/blog-2-369x253.jpg" alt="" width="369" height="253"></a>
                    <div class="post-minimal-main">
                        <h5 class="post-minimal-title"><a href="blog-post.html">Job Search Success: Finding a Business Development Job</a></h5>
                        <p>Business development professionals are at the heart of all sorts of organizations, from startups to multinational corporations.</p>
                        <time class="post-minimal-time" datetime="2019">November 23, 2019</time>
                    </div>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <!-- Post Minimal-->
                <article class="post-minimal">
                    <a class="post-minimal-media" href="blog-post.html"><img class="post-minimal-image" src="~/HomeAssets/images/blog-3-369x253.jpg" alt="" width="369" height="253"></a>
                    <div class="post-minimal-main">
                        <h5 class="post-minimal-title"><a href="blog-post.html">How to Impress Your Future Employer</a></h5>
                        <p>You’re committed to your job search, and you use every ounce of your free time you have to comb through listings, write cover</p>
                        <time class="post-minimal-time" datetime="2019">November 23, 2019</time>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<!-- CTA-->