@{
    ViewBag.Title = "Home Page";
}

<!-- slider area start -->
<section class="slider-area">
    <div class="slider-active dotate-style slider-next-prev-style">
        <div class="slider-items">
            <img src="~/images/slider/1.jpg" alt="" class="slider">
            <div class="slider-content text-center">
                <div class="table">
                    <div class="table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-md-8 col-md-offset-2">
                                    <h2>Welcome to our Martxa</h2>
                                    <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    <ul>
                                        <li><a href="#">Read More</a></li>
                                        <li><a href="#">Get Started</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-items">
            <img src="~/images/slider/2.jpg" alt="" class="slider">
            <div class="slider-content text-center">
                <div class="table">
                    <div class="table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-md-8 col-md-offset-2">
                                    <h2>Hello i am Martxa</h2>
                                    <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    <ul>
                                        <li><a href="#">Get Started</a></li>
                                        <li><a href="#">Read More</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- slider area end -->
<!-- about-area start -->
<section class="about-area ptb-140">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12 wow fadeInLeft">
                <div class="about-wrap">
                    <h2>who we are</h2>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.randomised words which don't look even slightly believable.</p>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised. by injected humour, or randomised.</p>
                    <ul>
                        <li>There are many variations of passages</li>
                        <li>By injected humour or randomised.</li>
                        <li>the majority have suffered alteration</li>
                        <li>majority have suffered alteration</li>
                        <li>variations of passages of Lorem Ipsum</li>
                        <li>of passages of Lorem Ipsum</li>
                        <li>many variations of passages.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 wow fadeInRight">
                <div class="row mt-60">
                    <div class="col-sm-6 col-xs-12 col">
                        <div class="about-items mb-30">
                            <i class="fa fa-diamond"></i>
                            <h3>injected humour In The randomised </h3>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12 col">
                        <div class="about-items mb-30">
                            <i class="fa fa-briefcase"></i>
                            <h3>many variations The  passages</h3>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12 col">
                        <div class="about-items">
                            <i class="fa fa-bookmark"></i>
                            <h3>the majority have To suffered</h3>
                        </div>
                    </div><div class="col-sm-6 col-xs-12 col">
                        <div class="about-items">
                            <i class="fa fa-database"></i>
                            <h3>of passages The Lorem Ipsum</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about-area end -->
<!-- .service-area start -->
<section class="service-area home2-service-area">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-10 col-xs-12 wow fadeInUp">
                <div class="section-title section-title2">
                    <h2>Our Special Service</h2>
                    <p>majority have suffered alteration in some form, by injected humour randomised. injected humour, or randomised.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".1s">
                <div class="service-wrap">
                    <div class="service-content">
                        <h3>Performance</h3>
                        <p>majority have suffered alteration in some form, by injected humour randomised. injected humour, or randomised.</p>
                        <a href="single-service.html">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".2s">
                <div class="service-wrap">
                    <div class="service-content">
                        <h3>Web Development</h3>
                        <p>majority have suffered alteration in some form, by injected humour randomised. injected humour, or randomised.</p>
                        <a href="single-service.html">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".3s">
                <div class="service-wrap">
                    <div class="service-content">
                        <h3>Creative Arts</h3>
                        <p>majority have suffered alteration in some form, by injected humour randomised. injected humour, or randomised.</p>
                        <a href="single-service.html">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".4s">
                <div class="service-wrap">
                    <div class="service-content">
                        <h3>UX/UI Design</h3>
                        <p>majority have suffered alteration in some form, by injected humour randomised. injected humour, or randomised.</p>
                        <a href="single-service.html">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".5s">
                <div class="service-wrap">
                    <div class="service-content">
                        <h3>Front End Development</h3>
                        <p>majority have suffered alteration in some form, by injected humour randomised. injected humour, or randomised.</p>
                        <a href="single-service.html">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".6s">
                <div class="service-wrap">
                    <div class="service-content">
                        <h3>Back End Development</h3>
                        <p>majority have suffered alteration in some form, by injected humour randomised. injected humour, or randomised.</p>
                        <a href="single-service.html">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- .service-area end -->
<!-- praller-area start -->
<section class="prallex-area black-opacity parallax ptb-180 wow fadeInUp" data-speed="3" data-bg-image="/images/bg/3.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-12">
                <div class="prallex-wrap text-center">
                    <h2><i class="fa fa-quote-left"></i>Keep away from people who try to belittle your ambitions. Small peol always do that.<i class="fa fa-quote-right"></i></h2>
                    <span><i class="fa fa-long-arrow-left"></i>  Brayden Shar <i class="fa fa-long-arrow-right"></i></span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- praller-area end -->
<!-- porftolio-area start -->
<section class="porftolio-area ptb-70 porftolio-area2">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-10 col-xs-12 wow fadeInUp">
                <div class="section-title section-title2">
                    <h2>Our Best Work</h2>
                    <p>the majority have suffered alteration in some form, by injected humour, or randomised. by injected humour, or randomised.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 wow fadeInUp" data-wow-delay=".1s">
                <div class="portfolio-menu">
                    <button class="active" data-filter="*">Show All</button>
                    <button data-filter=".website">WebSite</button>
                    <button data-filter=".responsiv">Responsiv</button>
                    <button data-filter=".minimal">Minimal</button>
                    <button data-filter=".clean">Clean</button>
                </div>
            </div>
        </div>
        <div class="row grid">
            <div class="col-md-4 portfolio clean col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".1s">
                <div class="portfolio-wrap">
                    <div class="overlay">
                        <a class="popup" href="~/images/portfolio/portfolio2/2.jpg">
                            <i class="fa fa-link"></i>
                        </a>
                        <h3>Web Design</h3>
                        <p>The majority have suffered alteration in some form</p>
                    </div>
                    <div class="portfolio-img">
                        <img src="~/images/portfolio/portfolio2/2.jpg" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-md-4 portfolio minimal col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".2s">
                <div class="portfolio-wrap">
                    <div class="overlay">
                        <a class="popup" href="~/images/portfolio/portfolio2/3.jpg">
                            <i class="fa fa-link"></i>
                        </a>
                        <h3>UX/UI Design</h3>
                        <p>The majority have suffered alteration in some form</p>
                    </div>
                    <div class="portfolio-img">
                        <img src="~/images/portfolio/portfolio2/3.jpg" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-md-4 portfolio website col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".3s">
                <div class="portfolio-wrap">
                    <div class="overlay">
                        <a class="popup" href="~/images/portfolio/portfolio2/4.jpg">
                            <i class="fa fa-link"></i>
                        </a>
                        <h3>Front End Design</h3>
                        <p>The majority have suffered alteration in some form</p>
                    </div>
                    <div class="portfolio-img">
                        <img src="~/images/portfolio/portfolio2/4.jpg" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-md-8 portfolio website col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".4s">
                <div class="portfolio-wrap">
                    <div class="overlay">
                        <a class="popup" href="~/images/portfolio/portfolio2/1.jpg">
                            <i class="fa fa-link"></i>
                        </a>
                        <h3>Web Development</h3>
                        <p>The majority have suffered alteration in some form</p>
                    </div>
                    <div class="portfolio-img">
                        <img src="~/images/portfolio/portfolio2/1.jpg" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-md-4 portfolio  responsiv col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".5s">
                <div class="portfolio-wrap">
                    <div class="overlay">
                        <a class="popup" href="~/images/portfolio/portfolio2/5.jpg">
                            <i class="fa fa-link"></i>
                        </a>
                        <h3>Back End Development</h3>
                        <p>The majority have suffered alteration in some form</p>
                    </div>
                    <div class="portfolio-img">
                        <img src="~/images/portfolio/portfolio2/5.jpg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- porftolio-area end -->
<!-- team-area start -->
<section class="team-area team-area2">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-10 col-xs-12 wow fadeInUp">
                <div class="section-title section-title2">
                    <h2>Best Team</h2>
                    <p>The majority have suffered alteration in some form, by injected humour, or randomised. by injected humour, or randomised.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".1s">
                <div class="team-wrap2">
                    <div class="team-img">
                        <img src="~/images/team/1.jpg" alt="" />
                        <div class="overlay">
                            <h3>Alex Jeson</h3>
                            <span>Marketing</span>
                            <p>Lorem ipsum dolor sit amet consectetur at elit Necessitatibus cupiditate.</p>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-content">
                        <h3>Alex Jeson</h3>
                        <p>Marketing</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".2s">
                <div class="team-wrap2">
                    <div class="team-img">
                        <div class="overlay">
                            <h3>Connor Charles</h3>
                            <span>Founder</span>
                            <p>Lorem ipsum dolor sit amet consectetur at elit Necessitatibus cupiditate.</p>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                        <img src="~/images/team/2.jpg" alt="" />
                    </div>
                    <div class="team-content">
                        <h3>Connor Charles</h3>
                        <p>Founder</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".3s">
                <div class="team-wrap2">
                    <div class="team-img">
                        <div class="overlay">
                            <h3>Robert Kyle</h3>
                            <span>Sales Head</span>
                            <p>Lorem ipsum dolor sit amet consectetur at elit Necessitatibus cupiditate.</p>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                        <img src="~/images/team/3.jpg" alt="" />
                    </div>
                    <div class="team-content">
                        <h3>Robert Kyle</h3>
                        <p>Sales Head</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".4s">
                <div class="team-wrap2">
                    <div class="team-img">
                        <div class="overlay">
                            <h3>Brayden Shar</h3>
                            <span>The Boss</span>
                            <p>Lorem ipsum dolor sit amet consectetur at elit Necessitatibus cupiditate.</p>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                        <img src="~/images/team/4.jpg" alt="" />
                    </div>
                    <div class="team-content">
                        <h3>Brayden Shar</h3>
                        <p>The Boss</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- team-area end -->
<!-- .pricing-table-area start -->
<div class="pricing-table-area">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-10  col-xs-12 wow fadeInUp">
                <div class="section-title section-title2">
                    <h2>Our Best Price</h2>
                    <p>The majority have suffered alteration in some form, by injected humour, or randomised. by injected humour, or randomised.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="pricing-active next-prev-style">
                <div class="col-xs-12 wow fadeInUp" data-wow-delay=".1s">
                    <div class="pricing-wrap">
                        <h3>Basic</h3>
                        <h4>$150.00<span>1 Month</span></h4>
                        <ul>
                            <li>Gregor then turned to look</li>
                            <li>with hat and fur boa who </li>
                            <li>Bawds joggraced fox whelps</li>
                            <li>over lazy dog flock by the</li>
                            <li>flock when Mtv quiz Whene</li>
                            <li>troubled Samsa Anather troubled</li>
                            <li>Samsa troubled Anather troubled</li>
                        </ul>
                        <button>Got It</button>
                    </div>
                </div>
                <div class="col-xs-12 wow fadeInUp" data-wow-delay=".2s">
                    <div class="pricing-wrap">
                        <h3>standard</h3>
                        <h4>$500.00<span>2 Month</span></h4>
                        <ul>
                            <li>Gregor then turned to look</li>
                            <li>with hat and fur boa who </li>
                            <li>Bawds joggraced fox whelps</li>
                            <li>over lazy dog flock by the</li>
                            <li>flock when Mtv quiz Whene</li>
                            <li>troubled Samsa Anather troubled</li>
                            <li>Samsa troubled Anather troubled</li>
                        </ul>
                        <button>Got It</button>
                    </div>
                </div>
                <div class="col-xs-12 wow fadeInUp" data-wow-delay=".3s">
                    <div class="pricing-wrap">
                        <h3>Premium</h3>
                        <h4>$1000.00<span>1 Year</span></h4>
                        <ul>
                            <li>Gregor then turned to look</li>
                            <li>with hat and fur boa who </li>
                            <li>Bawds joggraced fox whelps</li>
                            <li>over lazy dog flock by the</li>
                            <li>flock when Mtv quiz Whene</li>
                            <li>troubled Samsa Anather troubled</li>
                            <li>Samsa troubled Anather troubled</li>
                        </ul>
                        <button>Got It</button>
                    </div>
                </div>
                <div class="col-xs-12 wow fadeInUp" data-wow-delay=".4s">
                    <div class="pricing-wrap">
                        <h3>Business</h3>
                        <h4>$150.00<span>1 Month</span></h4>
                        <ul>
                            <li>Gregor then turned to look</li>
                            <li>with hat and fur boa who </li>
                            <li>Bawds joggraced fox whelps</li>
                            <li>over lazy dog flock by the</li>
                            <li>flock when Mtv quiz Whene</li>
                            <li>troubled Samsa Anather troubled</li>
                            <li>Samsa troubled Anather troubled</li>
                        </ul>
                        <button>Got It</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- .pricing-table-area end -->
<!-- skill-area start -->
<div class="skill-area">
    <div class="skill-img black-opacity wow fadeInLeft">
        <img src="~/images/skill.jpg" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-6 col-md-6 col-sm-offset-6 col-sm-6 col-xs-12 wow fadeInRight">
                <div class="skill-wrap section-title section-title2">
                    <h2>Our Skill</h2>
                    <div class="progress-wrap">
                        <p>HTML5</p>
                        <div class="progress">
                            <div class="progress-bar wow slideInLeft" style="width: 90%;">
                                <span class="progress-persent"><span>90%</span></span>
                            </div>
                        </div>
                    </div>
                    <div class="progress-wrap">
                        <p>CSS3</p>
                        <div class="progress">
                            <div class="progress-bar wow slideInLeft" style="width: 90%;">
                                <span class="progress-persent"><span>90%</span></span>
                            </div>
                        </div>
                    </div>
                    <div class="progress-wrap">
                        <p>Javascript</p>
                        <div class="progress">
                            <div class="progress-bar wow slideInLeft" style="width: 70%;">
                                <span class="progress-persent"><span>70%</span></span>
                            </div>
                        </div>
                    </div>
                    <div class="progress-wrap">
                        <p>php</p>
                        <div class="progress">
                            <div class="progress-bar wow slideInLeft" style="width: 60%;">
                                <span class="progress-persent"><span>60%</span></span>
                            </div>
                        </div>
                    </div>
                    <div class="progress-wrap">
                        <p>Wordpress</p>
                        <div class="progress">
                            <div class="progress-bar wow slideInLeft" style="width: 50%;">
                                <span class="progress-persent"><span>50%</span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- skill-area end -->
<!-- blog-area start -->
<section class="blog-area ptb-140 bg-1">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-10  col-xs-12 wow fadeInUp">
                <div class="section-title section-title2">
                    <h2>Our Creativ Bolg</h2>
                    <p>The majority have suffered alteration in some form, by injected humour, or randomised. by injected humour, or randomised.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".1s">
                <div class="blog-wrap">
                    <div class="blog-img">
                        <img src="~/images/blog/1.jpg" alt="" />
                    </div>
                    <div class="blog-content">
                        <div class="blog-meta">
                            <ul>
                                <li><a href="#"><i class="fa fa-user"></i> Admin</a></li>
                                <li><a href="#"><i class="fa fa-comment"></i> 5 Comment</a></li>
                                <li><a href="#"><i class="fa fa-heart"></i> 5 Love</a></li>
                            </ul>
                        </div>
                        <h3><a href="blog.html">majority have suffered</a></h3>
                        <p>wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy</p>
                        <a href="blog.html" class="btn-style">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".2s">
                <div class="blog-wrap">
                    <div class="blog-img">
                        <img src="~/images/blog/2.jpg" alt="" />
                    </div>
                    <div class="blog-content">
                        <div class="blog-meta">
                            <ul>
                                <li><a href="#"><i class="fa fa-user"></i> Admin</a></li>
                                <li><a href="#"><i class="fa fa-comment"></i> 5 Comment</a></li>
                                <li><a href="#"><i class="fa fa-heart"></i> 5 Love</a></li>
                            </ul>
                        </div>
                        <h3><a href="blog.html">majority have suffered</a></h3>
                        <p>wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy</p>
                        <a href="blog.html" class="btn-style">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".1s">
                <div class="blog-wrap">
                    <div class="blog-img">
                        <img src="~/images/blog/3.jpg" alt="" />
                    </div>
                    <div class="blog-content">
                        <div class="blog-meta">
                            <ul>
                                <li><a href="#"><i class="fa fa-user"></i> Admin</a></li>
                                <li><a href="#"><i class="fa fa-comment"></i> 5 Comment</a></li>
                                <li><a href="#"><i class="fa fa-heart"></i> 5 Love</a></li>
                            </ul>
                        </div>
                        <h3><a href="blog.html">majority have suffered</a></h3>
                        <p>wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy</p>
                        <a href="blog.html" class="btn-style">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- blog-area end -->
<!-- brand-area start -->
<section class="brand-area bg-img-2 black-opacity ptb-140">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-10 col-xs-12 wow fadeInUp">
                <div class="section-title section-title2">
                    <h2>Brand Our Company</h2>
                    <p>The majority have suffered alteration in some form, by injected humour, or randomised. by injected humour, or randomised.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="brand-active">
                <div class="col-xs-12">
                    <div class="brand-wrap">
                        <a href="#">
                            <img src="~/images/brand/1.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="brand-wrap">
                        <a href="#">
                            <img src="~/images/brand/2.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="brand-wrap">
                        <a href="#">
                            <img src="~/images/brand/3.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="brand-wrap">
                        <a href="#">
                            <img src="~/images/brand/4.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="brand-wrap">
                        <a href="#">
                            <img src="~/images/brand/5.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="brand-wrap">
                        <a href="#">
                            <img src="~/images/brand/6.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="brand-wrap">
                        <a href="#">
                            <img src="~/images/brand/7.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- brand-area end -->
