@using RecruitmentAgencyCore.Data.ViewModels;
@model EmployerViewModel


@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Register Employer</title>
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="~/AdminAssets/vendor/jquery/jquery.min.js"></script>
    <script src="~/RegisterAssets/jquery.maskedinput.min.js"></script>
    <!-- Font-->
    <link rel="stylesheet" type="text/css" href="~/RegisterAssets/css/montserrat-font.css">
    <link rel="stylesheet" type="text/css" href="~/RegisterAssets/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
    <!-- Main Style Css -->
    <link rel="stylesheet" href="~/RegisterAssets/css/style.css" />
</head>
<body class="form-v10">
    <div class="page-content">
        <div class="form-v10-content">
            <form class="form-detail" method="post" id="myform" asp-action="Register" asp-controller="Employer" asp-antiforgery="true" , enctype="multipart/form-data">
                <div class="form-left">
                    <h2>General Information</h2>
                    <div class="form-row">
                        <input type="text" asp-for="Name" class="company" placeholder="Company name*" required>
                    </div>
                    <div class="form-row">
                        <input type="text" asp-for="Description" class="company" placeholder="Description">
                    </div>
                    <div class="form-group">
                        <div class="form-row form-row-1">Staffs count:</div>
                        <div class="form-row form-row-2">
                            <input type="number" asp-for="StaffCount" class="company" placeholder="Staff count">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row form-row-1 mb-1">Upload company logo:</div>
                        <div class="form-row form-row-2 mb-1">
                            <main class="main_full">
                                <div class="container">
                                    <div class="panel">
                                        <div class="button_outer">
                                            <div class="btn_upload">
                                                <input type="file" id="upload_file" name="file">
                                                Upload Image
                                            </div>
                                            <div class="processing_bar"></div>
                                            <div class="success_box"></div>
                                        </div>
                                    </div>

                                </div>
                            </main>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="error_msg"></div>
                        <div class="uploaded_file_view" id="uploaded_view">
                            <span class="file_remove">X</span>
                        </div>
                    </div>
                </div>
                <div class="form-right">
                    <h2>Contact Details</h2>
                    <div class="form-row">
                        <select asp-for="CountryId" asp-items="@ViewBag.Country">
                            <option value="0" selected disabled>Select country</option>
                        </select>
                        <span class="select-btn">
                            <i class="zmdi zmdi-chevron-down"></i>
                        </span>
                    </div>
                    <div class="form-row">
                        <select asp-for="RegionId" asp-items="@ViewBag.Region">
                            <option value="0" selected disabled>Select region</option>
                        </select>
                        <span class="select-btn">
                            <i class="zmdi zmdi-chevron-down"></i>
                        </span>
                    </div>
                    <div class="form-row">
                        <select asp-for="DistrictId" asp-items="@ViewBag.District">
                            <option value="0" selected disabled>Select district</option>
                        </select>
                        <span class="select-btn">
                            <i class="zmdi zmdi-chevron-down"></i>
                        </span>
                    </div>
                    <div class="form-row">
                        <input type="text" asp-for="Address" placeholder="Address">
                    </div>
                    <div class="form-group">
                        <div class="form-row form-row-1">
                            <input type="text" asp-for="Website" placeholder="Company website">
                        </div>
                        <div class="form-row form-row-2">
                            <input type="text" asp-for="Phone" placeholder="Phone Number (2)">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row form-row-1">
                            <input type="text" asp-for="Mail" placeholder="Company email">
                        </div>
                        <div class="form-row form-row-2">
                            <input type="text" asp-for="LinkedIn" placeholder="LinkedIn">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row form-row-1">
                            <input type="text" asp-for="Facebook" placeholder="Facebook">
                        </div>
                        <div class="form-row form-row-2">
                            <input type="text" asp-for="Instagram" placeholder="Instagram">
                        </div>
                    </div>
                    <div class="form-row-last">
                        <input type="submit" name="register" class="register" value="Register company">
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>

<script src="~/RegisterAssets/register.js"></script>